# Go ile ilgili
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE dosyaları
.idea/
.vscode/
*.swp
*.swo

# Ortam değişkenleri
.env

# Uygulama dosyaları
tmp/
logs/
deploy.sh

# Veritabanı
*.db
*.sqlite

# Sistem dosyaları
.DS_Store
Thumbs.db 